body {
    font-family:'Arial';
    background-color: whitesmoke;
    color: rgb(255, 105, 105);
}
h1 {
    font-family:'Arial Black';
    color: #ec098d;
    font-size: 4em;
    background: #F2E6E6;
    line-height: 150px;
    margin: 0px 0px 0px 10px;
    padding-left: 20px;
}
h2 {
    color: #ec098d;
    font-size: 2em;
    margin-top: 50px;
    border-bottom: 2px #ec098d dotted;
    overflow: hidden;
}
p {
    color: #000000;
    line-height: 150%;
    padding-top: 10px;
    padding-left: 60px;
}
h3 {
    color: #ec098d;
    font-size: 2em;
    margin-top: 50px;
    border-bottom: 2px #ec098d dotted;
    overflow: hidden;
}